.weather_comp {
    height: 100vh;
    position: relative;
    padding: 40px 0;

    & .image_container {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -1;

        & .bg_image {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }

    & h2 {
        max-width: 778px;
        text-align: center;
        margin: 0 auto;
        background: linear-gradient(91deg, #CAECFF 39.76%, #78CFFF 86.12%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 65px;
    }

    & .input_container {
        max-width: 720px;
        display: flex;
        justify-content: center;
        margin: 65px auto 42px auto;
        column-gap: 20px;

        & .country_inp {
            width: 100%;
            border-radius: 12px;
            background: #24343D;
            box-shadow: 10px 10px 30px 0px rgba(36, 52, 61, 0.60) inset;
            padding: 10px 30px 10px 30px;
            transition: all 0.3s linear;

            &:focus {
                outline-color: #78CFFF;
                scale: 105%;
            }
        }

        & .btn {
            border-radius: 12px;
            background: #24343D;
            box-shadow: 10px 10px 30px 0px rgba(36, 52, 61, 0.60) inset;
            padding: 10px 30px;
            transition: all 0.3s ease;
            border: 3px solid transparent;
            font-weight: 600;
            width: 220px;

            &:hover {
                scale: 105%;
            }

            &:active {
                border: 3px solid #78CFFF;
            }
        }
    }

    & .wrapper {
        display: flex;
        justify-content: center;
    }
}